GOOGLE_MAPS_API=AIzaSyBLO1T64s6dOO2NVCwH0rICLxtGqhXE0io
MC_CUSTOMER_ID=C-C334C52E784C4B4
MC_EMAIL=atulagrawal9131291691@gmail.com
MC_PASSWORD=@RTYJs2NgP2s3CB
MC_AUTH_TOKEN=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJDLUMzMzRDNTJFNzg0QzRCNCIsImlhdCI6MTc4MTE5MzMxMiwiZXhwIjoxOTM4ODczMzEyfQ._5Y38kINk5BZ9WtBF7dJlsKCPKNJmIasVTyyQ3YDkyxBdNfLLn5cIesM6rb3tO4xpOzoYUMMLm8ryYIv_4hjyQ
MOCK_OTP=true

# Redis Configuration
USE_REDIS=false
REDIS_URL=redis://localhost:6379

# JWT Configuration
JWT_SECRET=getgo_development_jwt_secret_key_987654321

# Trip Expiration TTL (seconds)
TRIP_TTL_SECONDS=60

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/getgo

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dyd8p6oqn
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=your_api_secret_here

# n8n AI Customer Support Webhook Configuration
N8N_WEBHOOK_URL=http://localhost:5678/webhook/customer-support

# n8n HTTP Request Tool Authentication key
SUPPORT_API_KEY=getgo_n8n_secret_key