GOOGLE_MAPS_API=AIzaSyBLO1T64s6dOO2NVCwH0rICLxtGqhXE0io
MC_CUSTOMER_ID=C-C334C52E784C4B4
MC_EMAIL=atulagrawal9131291691@gmail.com
MC_PASSWORD=@RTYJs2NgP2s3CB
MC_AUTH_TOKEN=eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJDLUMzMzRDNTJFNzg0QzRCNCIsImlhdCI6MTc4MTE5MzMxMiwiZXhwIjoxOTM4ODczMzEyfQ._5Y38kINk5BZ9WtBF7dJlsKCPKNJmIasVTyyQ3YDkyxBdNfLLn5cIesM6rb3tO4xpOzoYUMMLm8ryYIv_4hjyQ
MOCK_OTP=false